<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <style>
        textarea{
            width: 300px;
            height: 300px;
        }
    </style>
</head>
<body>

    <div id="app">
        <input type="text" v-model="memo"><br>
        <textarea v-model="memocontent"></textarea>
        <button @click="addMemo">추가</button>
        <memo-component v-for="m in memolist" :key="m.id" v-bind:id="m.id" @delete="deleteMemo" >
            <template v-slot:title>
                {{m.memo}}
            </template>
            <template v-slot:content>
                <p v-if="m.memocontent == false">미리 작성된 메모입니다.</p>
                <p v-else>{{m.memocontent}}</p>
            </template>
        </memo-component>
    </div>

    <!-- 사용할 컴포넌트 -->
    <script src="./memoComponent.js"></script>

    <!-- 뷰 인스턴스 -->
    <script src="./main.js"></script>
</body>
</html>